<!DOCTYPE html>
<html>
    <head>
        <style>
    * {
    margin: 0;
    padding: 0;
    }
    .imgbox {
        display: grid;
        height: 100%;
    }
    .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
    .selected {
        background-color: #6ccbfb;
        color: #555;
    }
    .center {
        margin: auto;
        width: 40%;
        border: 5px solid #ff2200;
        padding: 10px;
    }


        </style>
    </head>
<script>
function toggleClass(el, className) {
    if (el.className.indexOf(className) >= 0) {
        el.className = el.className.replace(className,"");
    }
    else {
        el.className  += className;
    }
}
</script>
<body>
<div class="imgbox">
<img src="{{img_name}}" class="center-fit"></img>
</div>
{% if usenote  %}
<div class="center">{{note}}</div>
{% endif %}
<table style="border:1px solid black;margin-left:auto;margin-right:auto;">
<tr>
  <th>#</th>
  <th>Station</th>
  <th>Neighborhood</th>
  <th>Apple</th>
  <th>-------</th>
  <th>Google</th>
  <th></th>
</tr>
{% for item in group %}
<td bgcolor="#FFFFFF" style="line-height:10px;" colspan=3>&nbsp;</td>
<tr  onclick="toggleClass(this,'selected');">
  <th>{{item.number}}</th>
  <th>{{item.name}}</th>
  <th>{{item.neighborhood}}</th>
  <th>{{item.apple}}</th>
  <th></th>
  <th>{{item.google}}</th>
</tr>
{% endfor %}
             
</table>
</div>
</body>
</html>